<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="STDOUT"/>
  </root>

  <!-- If you want to show logs from docker and test containers update following loggers -->
  <logger name="org.testcontainers" level="WARN"/>
  <logger name="com.github.dockerjava" level="WARN"/>
</configuration>
