name: Create Release
on:
  push:
    # run only on tags
    tags:
      - '**'

jobs:
  release:
    name: Deploy
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Unpack secrets
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          ./decrypt_secret.sh
      - name: Deploy
        env:
          OKTA_DUMMY_CI_PW: ${{ secrets.OKTA_DUMMY_CI_PW }}
          WCS_DUMMY_CI_PW: ${{ secrets.WCS_DUMMY_CI_PW }}
          OKTA_CLIENT_SECRET: ${{ secrets.OKTA_CLIENT_SECRET }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
        run: |
          mvn -DskipTests clean package
          mvn -s settings.xml deploy
      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: jar-files
          path: "target/*.jar"
          retention-days: 1
  gh-release:
    name: Create a GitHub Release
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: [ release ]
    steps:
      - name: Download artifacts to append to release
        uses: actions/download-artifact@v3
        with:
          name: jar-files
          path: target
      - name: Create a GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          draft: true
          files: target/*.jar
